$todo-btn: lightpink;
$todo-btn-hover: palevioletred;
$grey: #cccccc;
$white: #ffffff;
$primary-text-color: #2C3E50;
$submit-btn: lightblue;
$submit-btn-hover: cadetblue;
$input-focus: cornflowerblue;
